.picture {
	//background-image: url('../img/workspace.jpg');
	//background-repeat: no-repeat;
}
.profile-pic > img {
	border-radius: 100px;
	position: absolute;
    margin: 120px auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    //background-image: url('../img/workspace.jpg');
    //background-size: inherit;
}
nav{
	height: 70px;
	background-color: black;
	margin-top: -16px;
	margin-left: -8px;
	margin-right: -8px;
}
nav > ul{
	list-style: none;
}
nav > ul > li {
	color: white;
	display: inline-block;
	margin-top: 30px;
	float: right;
	margin-right: 30px;
	padding: 0 6px;
}
.social-contact > ul > li {
	align-content: center;
	background-color: black;
	display: inline-block;
	padding: 0 3px;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px 5px;
}
.social-contact > ul > li > a {
	text-decoration: none;
	text-shadow: 2px 0 0 blue;
	color: white;
}
#nav-ul > li:hover{
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px 5px;
}
#nav-ul > li > a {
    text-decoration: none;
    color: white;
}
#nav-ul > li > a:active {
    color: blue;
}
#content {
	//margin: 10px 70px;;
	align-content: center;
	float: left;
}
#objective {
	position: relative;
    margin-top: 260px;
    text-align: center;
    padding: 0 auto;
}
.expertise, #experience > .company, #education > .school-attended {
	display: grid;
	//grid-gap: 2px;
	grid-template-columns: repeat(2, minmax(200px, 1fr));
	grid-template-rows: repeat(auto, 100px);
}
article > .personal-details {
	position: relative;
	text-shadow: 2px 0 3px grey;
}
form{
	max-width: 600px;
	margin: 20px auto;
	padding: 10px;
	background-color: #E2D9CD;
}
input, textarea{
	display: block;
	margin: 30px auto;
	padding: 15px;
        width: 370px;
        border-radius: 10px;
}
.form-container {
    display: none;
    padding-top: 60px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    width: 99%;
    height: 500px;
}
#contactBtnClick{
	height:30px;
	margin: 20px 20px;
	background-color: #8b0000;
	color: white;
}
.contact-form-div{
    background-color: #fefefe;
    box-shadow: 0 5px 5px grey;
    max-width: 550px;
    padding: 30px;
    margin: -30px auto;
}
#close{
    float: right;
    color: #000000;	
    background-color: #8b0000;	
    border-radius: 10px;
}
#close:active{
    background-color: #fefefe
}
#contact-btn {
    padding: 20px;
    margin: 10px auto;
    color: #ffffff;
    background-color: #000000;
    border-radius: 15px;
    border: 1px solid #53544E;	
}
